@model FamilyDirectory.web.Models.AddEditVM

<body background="https://scontent-b-sea.xx.fbcdn.net/hphotos-xpf1/t1.0-9/1891075_10202889858623225_1318675089_n.jpg">
    <h2><font color="Chartreuse">Please add your Family by filling in the form below!</font></h2>
    <form method="post">
        <font style="color: cornflowerblue; font-size: 1.5em;" />
        <h1>Enter The Last Name of your family</h1>
        @Html.EditorFor(x => x.Family.NameOfFamily)
        <h1>Enter Picture of your Family Crest as a URL</h1>
        @Html.EditorFor(x => x.Family.FamilyCrest)<br /><br />
       
        <input class="btn btn-success" type="submit" value="@Model.ButtonMessage" />
    </form>
    @if (Model.ButtonMessage == "Submit Changes")
    {
        <form method="post">
            <input class="btn btn-danger" type="submit" value="Delete" />
        </form>
    }
</body>
<a href="/Home/AddFamily"></a>
    

